<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CTP6 Commander</title>
        <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/css/status.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">

            <h1>Link Status</h1>
            <table id="linkstatus"></table>
            <div id="control_bar">
                <div class="form-horizontal">
                    <input id="linklist" type="text" class="input-small" placeholder="Links"/>
                    <button id="doquery" class="btn btn-danger">Query Status</button>
                </div>
            </div>
        </div> <!-- /container -->

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="static/bootstrap/js/bootstrap.min.js"></script>
        <script src="static/js/status.js"></script>

        <script>CTPStatus.doStatus("1-10");</script>

    </body>
</html>
